<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC_xFVwvwuaNJsFoOwo2RJZMVqybWrRyhI</string>
	<key>GCM_SENDER_ID</key>
	<string>744291529157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kanzler.KanzlerFirstTry</string>
	<key>PROJECT_ID</key>
	<string>kanzler-firsttry</string>
	<key>STORAGE_BUCKET</key>
	<string>kanzler-firsttry.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:744291529157:ios:07c669da2466ecb1ebdbac</string>
</dict>
</plist>